@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 13% 19%;
    --card: 0 0% 100%;
    --card-foreground: 220 13% 19%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 14% 96%;
    --secondary-foreground: 220 13% 19%;
    --muted: 220 14% 94%;
    --muted-foreground: 216 9% 45%;
    --accent: 0 0% 0%;
    --accent-foreground: 0 0% 100%;
    --destructive: 350 89% 54%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 14% 85%;
    --input: 215 14% 85%;
    --ring: 0 0% 0%;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 210 16% 88%;
    --card: 0 0% 0%;
    --card-foreground: 210 16% 88%;
    --primary: 0 0% 100%;
    --primary-foreground: 216 27% 12%;
    --secondary: 216 15% 14%;
    --secondary-foreground: 210 16% 88%;
    --muted: 216 15% 14%;
    --muted-foreground: 214 10% 64%;
    --accent: 0 0% 100%;
    --accent-foreground: 216 27% 12%;
    --destructive: 0 64% 52%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 10% 25%;
    --input: 217 10% 25%;
    --ring: 0 0% 100%;
  }
}
